@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola ✨, Esta es mi prueba Tecnica</h1>
    <a class="fs-3" href="https://github.com/JeffreyMardoqueo-17/PruebaTecnica_TCS.git">Repositorio de gitHub 🐱‍👤</a>
    <p class="fs-4">Ahi se encuentra documentado lo que hice y como funciona todo</p>
  
</div>
